*{
    margin: 0;
    font-family: 'Varela Round';
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    
}
main{
    text-align: justify;
    margin: auto;
    width: 80%;
    max-width: 800px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h h"
                         "n n"
                         "n2 n2"
                         "as a"
                         "s s"
                         "c c"
                         "f f ";
                         
    display: grid;
}
header{
    font-size: 24pt;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
    display: grid;
    grid-area: h;
}
aside img{
    width: 310px;
    height: 330px;
}
nav{
    display: grid;
    grid-area: n;
    padding-bottom: 35px;
}
nav ul li{
    display: inline;
    color: white;
    padding: 35px;
    font-size: 20px;
}
nav ul a li:hover{
    color: turquoise;
}
nav ul a{
    text-decoration: none;
}
nav2{
    grid-area: n2;
    font-size: 20px;
}
nav2 button p{
    font-size: 20px;
}
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  /* Dropdown button */
  .dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
  
  /* Add a red background color to navbar links on hover */
  .navbar a:hover, .dropdown:hover .dropbtn {
    color: turquoise;
  }
  
  /* Dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: white;
    background: rgb(2,0,36);
  }
  

.dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  

.dropdown-content a:hover {
    color: turquoise;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
  }
article{
    padding-left: 10px;
}
article h2{
    padding-bottom: 20px;
}
article ul li{
   padding-left: 10px; 
   
}
article p{
    padding-top: 10px;
}
article ul{
    list-style-type: none;
}
section{
    grid-area: s;
    margin: auto;
}
section h2{
    text-align: center;
}
section table{
    width: 500px;
    border-collapse: collapse;
    border: 2px solid white;
}
table th{
    border-bottom: 1px solid white;
}
table th, td{
    height: 50px;
    width: 50px;
    text-align: center;
}
section image{
    height: 200px;
    width: 200px;
}
* {
    box-sizing: border-box;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
    grid-area: c;
    padding-top: 30px;
  }
  .containers {
    position: relative;
    grid-area: c;
    padding-top: 30px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
    
  }
  .mySlides img{
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* Next & previous buttons */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .container img{
    height: 229px;
   
  }
.containers img{
    height: 400px;
}
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    padding: 2px 16px;
    color: white;
  }
  .row img{
    height: 78.96px;
    
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  footer{
    font-size: 30px;
    margin: auto;
    grid-area: f;
  }
  @media only screen and (max-width: 950px) {
    nav ul li{
        display: block;
        padding: 3px;
        text-align: center;
    }
}
@media only screen and (max-width: 700px) {
    main{
        grid-template-columns: 1fr;
    grid-template-areas: "h"
                         "n"
                         "n2"
                         "as"
                         "a"
                         "s"
                         "c"
                         "f";
                         
    }
    table{
        width: 100%;
    }
}
@media only screen and (max-width: 530px) {
    body{
        background-repeat: no-repeat;
        background-attachment: fixed;
    }}