*{
    margin: 0;
    font-family: 'Varela Round';
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    
}

main{
    margin: auto;
    width: 80%;
    max-width: 700px;
    padding: 20px;
    display: grid;
    grid-template-areas: "h h h"
                        "a a a";
    grid-template-columns: 1fr 1fr 1fr;
}

header{
    font-size: 24pt;
    text-align: center;
    margin: auto;
    padding-bottom: 30px;
    grid-area: h;
}
img{
    padding-top: 20px;
    height: 150px;
    width: 100%;
    margin: auto;
}
article{
 grid-area: a;
}

.container {
    position: relative;
    width: 50%;
    margin: auto;
  }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 170px;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: red;
  }
  
  .container:hover .overlay {
    opacity: 1;
  }
  
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
article{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}
section img{
    display: block;
    margin: auto;
    text-align: center;
}
footer{
    border-right: 3px solid red;
}
aside{
    border-right: 3px solid red;
}
article ul li::before {
    content: "➧";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }
article ul{
    padding-top: 20px;
    
}
h2{
    font-size: 27px;
}
article ul li{
    font-size: 20px;
    
}

article h2{
    text-align: center;
}
@media only screen and (max-width: 800px) {
    main{
        display: grid;
        grid-template-areas:"h"
                            "a";
        grid-template-columns: auto;
        width: 50%;
    }
    article{
        display: grid;
        grid-template-areas:"f"
                            "as"
                            "s";
        grid-template-columns: auto;
    }
    footer{
        grid-area: f;
        border: none;
    }
    aside{
        grid-area: as;
        border: none;
    }
    section{
        grid-area: s;
    }
  }
  @media only screen and (max-width: 530px) {
    body{
        background-repeat: no-repeat;
        background-attachment: fixed;
    }}